@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  background-color: #303056;
  position: relative;
  overflow: hidden;
}

.spooky {
  position: absolute;
  top: 0;
  left: 0;

  @include media-max($lg-break) {
    width: 80%;
    height: 700px;
  }
  @include media-max($xs-break) {
    width: 110%;
    height: 500px;
  }
}


.caption {
  display: flex;
  position: absolute;
  top: 65%;
  left: 10%;

  @include media-max($lg-break) {
    flex-direction: column;
    top: 25%;
    left: 60%;
  }

  @include media-max($xs-break) {
   flex-direction: row;
    top: 35%;
    left: 20%;
  }

  @include media-max($l-break) {
    top: 30%;
  }

  @include media-max($xxs-break) {
     top: 27%;
  }
}





