@import "../../scss/settings";
@import "../../scss/mixins";

.container{
  position: absolute;
  width: 14px;
  top: 35%;
  right: 0;
  display: flex;
  flex-direction: column;

  @include media-max($md-break) {
    top: 70%;
  }
  @include media-max($l-break) {
    top: 63%;
    right: 0;
  }
}


.link,
.link:link,
.link:visited {
  position: relative;
  padding: 5px;
  margin-bottom: 18px;

  &:before{
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 4px;
    border-radius: 10px;
    position: absolute;
    background-color: #F8D3EB;
    transition: all 0.5s;
  }
  &:global {
    &.active {
      &:before{
        height: 20px;
      }
    }
  }
}



