@import "../../scss/settings";
@import "../../scss/mixins";

.container{
  position: absolute;
  width: 4px;
  top: 35%;
  right: 0;
  display: flex;
  flex-direction: column;
  //padding-left: 60px;

  @include media-max($md-break) {
    top: 60%;
    //right: 0;
  }
  @include media-max($sm-break) {
    //right: -30px;
  }
  @include media-max($xs-break) {
    top: 50%;
    right: 5%;
  }
}

.link{
  height: 10px;
  width: 4px;
  border-radius: 10px;
  margin-bottom: 28px;
  background-color: #F8D3EB;
}

