@import "../../scss/settings";
@import "../../scss/mixins";

.container{
  height: 100px;
}

.polygon{
  position: relative;
  height: 100%;
  display:inline-block;
  width:170px;
  filter:url(#round);
}

.polygon:before {
  content:"";
  height: 100%;
  display:block;
  padding-bottom:20%;
  background-color: #FF5B79;
  clip-path: polygon(12% 22%, 89% 13%, 98% 51%, 6% 65%);
}

.textBtn{
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
