@import "../../scss/settings";
@import "../../scss/mixins";

.flexContainer, {
  display: flex;
  position: relative;
  padding-right: 40px;

  @include media-max($md-break) {
    flex-direction: column;
  }
  @include media-max($xs-break) {
    padding-right: 0;
    margin-bottom: 50px;
    align-items: center;
  }
}

.reverse {
  @include media-max($md-break) {
    flex-direction: column-reverse;
  }
}

