@import "../../scss/settings";
@import "../../scss/mixins";


.container{
  height: 118px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.btn{
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  padding: 10px;
}

.nav{

  @include media-max($sm-break){
    position: absolute;
    top:0;
    right: -60px;
    height: 100vh;
    padding: 20px 40px;
    width: 200px;
    z-index: 4000;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    & > * {
      display: flex;
      margin: 20px 0;
      padding: 12px;

      &:nth-child(1){
        margin-top: 60px;
      }
    }
    &.close {
      transform: translateX(100%);
    }
  }
}


