@import "../../scss/settings";
@import "../../scss/mixins";

.background {
  background-color: #303056;
}

.imgContainer {
  margin-top: -118px;
  width: 90%;
  height: 600px;
  background: url("../../images/spooky.svg") no-repeat center;
  background-size: contain;

  @include media-max($xs-break) {
    height: 400px;
    width: 400px;
  }
  @include media-max($xxs-break) {
    height: 350px;
    width: 350px;
  }
}



