@import "../../scss/settings";
@import "../../scss/mixins";

.background {
  background-color: #303056;
}

.imgContainer {
  margin-top: -118px;
  width: 90%;
  height: 600px;
  background: url("../../images/spooky.svg") 40px no-repeat;
  background-size: contain;

  @include media-max($xs-break) {
    width: 450px;
    height: 450px;
  }
  @include media-max($l-break) {
    height: 400px;
    background-position: center left;
  }
  @include media-max($l-break) {
    width: 400px;
    height: 350px;
  }
}



