@import "../../scss/settings";
@import "../../scss/mixins";

.background{
  background-image: linear-gradient(130deg, #E8CAFB 0.66%, #8A87C1 83.32%);
}

.imgContainer {
  align-self: center;
  width: 90%;
  height: 500px;
  background: url("../../images/adino.svg") 70px no-repeat;
  background-size: contain;

  @include media-max($lg-break) {
    background-position: center right;
  }
  @include media-max($sm-break) {
    height: 450px;
  }
  @include media-max($xs-break) {
    background-position: 20px;
    width: 350px;
    height: 350px;
  }
  @include media-max($xxs-break) {
    width: 300px;
    height: 270px;
  }
}

.reverse {
  display: flex;
  @include media-max($md-break) {
    flex-direction: column-reverse;
  }
}




