@import '../scss/mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  color: #FFFFFF;
}

.App {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  max-width: 1520px;
  padding: 50px 150px;
  margin: 0 auto;

  @include media-max($lg-break){
   padding: 50px;
  }
}

.wrapper {
  flex: 1 0 auto;
}

button{
  @include btn-reset();
  color: #FFFFFF;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-weight: 700;
  font-size: 20px;
  color: #FF5B79;
}

.title {
  font-weight: 900;
  font-size: 68px;
  color: #FFFFFF;


  @include media-max($lg-break){
    font-size: 50px;
  }
}


a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  margin-right: 54px;
  transition-duration: 0.4s;
}
