@import '../scss/mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  color: #FFFFFF;
}

a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  margin-right: 54px;
  transition-duration: 0.4s;
}

.App {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  max-width: 1520px;
  padding: 50px 150px;
  margin: 0 auto;

  @include media-max($lg-break) {
    padding: 50px;
  }
}

.mainPart {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

button {
  @include btn-reset();
  color: #FFFFFF;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.title {
  font-weight: 900;
  font-size: 68px;
  margin-bottom: 25px;

  @include media-max($lg-break) {
    font-size: 50px;
  }
}

.caption {
  font-weight: 700;
  font-size: 20px;
}

.captionText {
  align-self: flex-end;
}

.link {
  @include media-max($xs-break) {
    margin: 30px 0 0 30px;
  }
}

.description {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 40%;

  @include media-max($lg-break) {
    margin-left: 0;
    margin-top: 400px;
    width: 100%;
  }

  @include media-max($sm-break) {
    margin-left: 0;
    margin-top: 350px;
    width: 100%;
  }
}

.buttons {
  margin: 50px 0 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-max($lg-break) {
    justify-content: space-around;
    margin: 50px;
  }
  @include media-max($xs-break) {
    flex-direction: column;
  }
}

.scroll {
  position: absolute;
  top: 80%;
  left: 90%;
  text-align: center;

  @include media-max($lg-break) {
    top: 85%;
    left: 85%;
  }
}

