@import '../scss/mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  color: #FFFFFF;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior:smooth;

  @include media-max($md-break) {
    scroll-snap-type: none;
  }
}

a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  margin-right: 54px;
  transition-duration: 0.4s;
}


.App {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  max-width: 1520px;
  padding: 0 30px;
  margin: 0 auto;
}


button {
  @include btn-reset();
  color: #FFFFFF;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}


.container{
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-behavior: smooth;

  @include media-max($lg-break) {
    height: 100%;
  }
}

#first:target a.firstLink{
  height: 20px;
}
#first:hover a.firstLink{
  height: 20px;
}
#second:target a.secondLink{
  height: 20px;
}
#second:hover a.secondLink{
  height: 20px;
}
#third:target a.thirdLink{
  height: 20px;
}
#third:hover a.thirdLink{
  height: 20px;
}


.firstLink,
.secondLink,
.thirdLink{
  height: 4px;
  width: 4px;
  border-radius: 10px;
  margin-bottom: 28px;
  background-color: #F8D3EB;
}

.ml{
  margin-left: 50px;
}